<!DOCTYPE html>
<html lang="en">
<head>
    <title>Padraig & Paulina's Cloud Compuing Project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style/style.css" />
    <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>
    <script type="application/javascript" src="//cdn.rawgit.com/Alorel/console-log-html/master/console-log-html.min.js"></script>
</head>
<body>

<div class="header">
    <h1>Cloud Computing Project</h1>
    <p>A <b>graphical</b> AWS IoT Device MQTT Client</p>
</div>

<div class="navbar">
    <form action="/home" method="GET" >
        <button type="submit" class="link-button">Home</button>
    </form>
    <a href="/pages/about.html">About</a>
    <a href="/pages/contact.html">Contact</a>
    <form action="/appJS" method="GET">
        <button type="submit" class="link-button" class="active">app.js</button>
    </form>
    <form action="/indexJS" method="GET" >
        <button type="submit" class="link-button">index.js</button>
    </form>
    <a href="/pages/login.txt">login.ejs</a>
    <a href="/pages/index.txt">index.ejs</a>
    <form action="/passport" method="GET">
        <button type="submit" class="link-button">passport-config.js</button>
    </form>
    <form action="/logout?_method=DELETE" metchod="POST" class="right">
        <button type="submit" class="link-button">Log Out</button>
    </form>
</div>
    <div class="main">
        <h2>index.js</h2>
        <pre><code class="javascript">const LocalStrategy = require('passport-local').Strategy
const bcrypt = require('bcrypt')

function initialize(passport, getUserByEmail, getUserById) {
  const authenticateUser = async (email, password, done) => {
    const user = getUserByEmail(email)
    if (user == null) {
      return done(null, false, {
        message: 'No user with that email' })
    }

    try {
      if (await bcrypt.compare(password, user.password)) {
        return done(null, user)
      } else {
        return done(null, false, { message: 'Password incorrect' })
      }
    } catch (e) {
      return done(e)
    }
  }

  passport.use(new LocalStrategy({ usernameField: 'email' }, authenticateUser))
  passport.serializeUser((user, done) => done(null, user.entry))
  passport.deserializeUser((id, done) => {
    return done(null, getUserById(id))
  })
}


module.exports = initialize

            </code></pre>
    </div>
</div>
</div>
<div class="footer">
    <h4>Cloud Computing Project by Padraig & Paulina</h4>
</div>
<script>
    $(document).ready(function(){
        $("#submitBtn").click(function(){
            $("#myForm").submit(); // Submit the form
        });
    });
</script>
</body>
</html>
